{% extends "layouts/base.html" %}
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">2</h1>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Додати товар</h3>
                    </div>
                    <div class="card-body">
                        <form action="/product-add" enctype="multipart/form-data" method="post" role="form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
                                    <div class="form-group">
                                        <label class="col-form-label" for="inputWarning">
                                            <i class="far fa-bell"></i> Назва товару
                                        </label>
                                        <input class="form-control is-warning" name="name" placeholder="Enter ..."
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="col-form-label" for="inputWarning">
                                            <i class="far fa-bell"></i> Ціна
                                        </label>
                                        <input class="form-control is-warning" name="price" placeholder="Enter ..."
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="col-form-label" for="inputWarning">
                                            <i class="far fa-bell"></i>Знижка
                                        </label>
                                        <input class="form-control is-warning" name="discount" placeholder="Enter ..."
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" data-select2-id="48">
                                        <label class="col-form-label" for="inputWarning">
                                            <i class="far fa-bell"></i>Підгрупа
                                        </label>
                                        <select aria-hidden="true"
                                                class="form-control select2 select2-hidden-accessible  is-warning"
                                                name="group_id"
                                                style="width: 100%;"
                                                tabindex="-1">
                                            <option selected="selected" disabled>...</option>
                                            {%for p in parent_group -%}

                                            {%for s in sub_group -%}
                                            {% if p.id == s.parent_id -%}
                                            <option  value="{{s.id}}">{{p.name}} - {{s.tag}}</option>
                                            {% endif %}
                                            {% endfor %}
                                            {% endfor %}

                                        </select>
                                    </div>

                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="custom-file">

                                            <input class="form-control is-warning custom-file-input" name="img"
                                                   type="file">
                                            <label class="custom-file-label" for="customFile">Додати зображення</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Короткий Опис Товару <span>(150)</span></label>
                                                <textarea class="form-control" maxlength="99" name="short_description"
                                                          placeholder="Enter ..." rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Детальний Опис Товару</label>
                                                <textarea class="form-control" name="description"
                                                          placeholder="Enter ..."
                                                          rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button class="btn btn-block btn-primary">Внести</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Товар</h3>

                        <div class="card-tools">
                            <button class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                    title="Collapse"
                                    type="button">
                                <i class="fas fa-minus"></i></button>
                            <button class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove"
                                    type="button">
                                <i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0" style="height:600px;">
                        <table class="table  table-hover text-nowrap projects">
                            <thead>
                            <tr>
                                <th style="width: 20%">
                                    Керування
                                </th>

                                <th style="width: 20%">
                                    Назва
                                </th>
                                <th style="width: 20%">
                                    Ціна:
                                </th>
                                <th style="width: 20%">
                                    Знижка
                                </th>
                                <th style="width: 30%">
                                    Зображення
                                </th>

                                <th style="width: 1%">
                                    id
                                </th>

                            </tr>
                            </thead>
                            {% for i in products %}
                            <tbody>
                            <tr>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="/product-edit={{i.id}}">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="/product-delete={{i.id}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>


                                <td>
                                    <small>
                                        {{i.name}}
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        {{i.price}}
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        {{i.discount}}
                                    </small>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <img alt="Avatar" class="table-avatar" src="{{i.img}}">
                                        </li>
                                    </ul>
                                </td>

                                <td>
                                    {{i.id}}
                                </td>


                            </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}